source_env_if_exists .envrc.secret
source_env_if_exists .envrc.local

export ORG="tripplilley"
export PROJECT="bakalan"

layout node
use asdf

# asdf-sbt runs an exec-env hook that clobbers JAVA_HOME
export JAVA_HOME=$(asdf where java)
